.header-styles{
    padding-top: 20px;
    box-shadow: none;
    border-bottom: 1px solid #00ff0838;
    border-radius: 0px;
    margin-bottom: 20px;
}

h1{
    margin: 0;
    font-weight: bold!important;
    cursor: pointer;
}

